@font-face {
  font-family: "DelaGothicOne-Regular";
  src: url(/fonts/DelaGothicOne-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

:root {
  --basic-color: #ffffff;
  --secondary-color: #464646;
  --basic-bg: #000000;
}

body {
  font-size: 20px;
  line-height: 20px;
  font-family: "IBM Plex Sans", sans-serif;
  max-width: 1500px;
  margin: 0 auto;
  background-color: var(--basic-bg);
  color: var(--basic-color);
}

.body-article {
  color: #000000;
  background-color: #ffffff;
}

body::-webkit-scrollbar {
  display: none;
}

.preindex-body {
  background-image: url(preindex-bg2.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.preindex-center {
  margin: 0 auto;
  width: 800px;
  height: 100vh;
}

.preindex-middlescren {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 0;
}

.preindex-header {
  font-family: DelaGothicOne-Regular;
  font-size: 100px;
  line-height: 95px;
  text-align: center;
}

.preindex-cenetertext {
  align-self: center;
}

.preindex-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0;
}

.preindex-button {
  font-family: "IBM Plex Sans", sans-serif;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  margin-right: 0;
  padding: 20px;
  text-decoration: underline;
  margin-bottom: 40px;
  width: 300px;
  text-align: center;
}

.test {
  background-color: #ccc;
}

.fixed-top {
  position: fixed;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 53%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 100%;
  padding: 40px;
}

.fixed-scroll {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
  z-index: 10;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #000000;
  width: 0%;
}

.container-gif {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(falling-questions-2-1.gif);
}

.train {
  width: 100%;
  height: 100%;
}

.wrapper {
  padding: 30px;
}

.header {
  font-family: DelaGothicOne-Regular;
  font-size: 100px;
  line-height: 95px;
  margin-top: 300px;
}


.margin-top-40 {
  margin-top: 40px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.header-under {
  width: 550px;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 211px;
  margin-top: 20px;
}

.header-under-disclaimer {
  width: 70%;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: 60px;
  margin-bottom: 80px;
}

.filter p {
  margin-right: 80px;
}

.buttons {
  grid-column: span 5;
  line-height: 20px;
  margin: 20px 0px;
}

button {
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  line-height: 20px;
  border: none;
  margin-right: 20px;
  padding: 0;
}

hr {
  border: 1px solid #000;
  margin: 40px 0;
}

.grid {
  /* background-color: #eee; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-gap: 0 20px;
}

.col {
  font-size: 30px;
  line-height: 35px;
}

.grid-quote {
  /* background-color: #eee; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-gap: 0 40px;
  margin-bottom: 40px;
  margin-top: 60px;
}

.col-quote {
  font-size: 30px;
  line-height: 35px;
  background-color: #eeeeee;
}

.grey-container-quote {
  background-color: #eeeeee;
  margin-top: 40px;
  margin-bottom: 80px;
  width: 100%;
}

.double {
  grid-column: span 2;
}

.fullwidth {
  grid-column: -1 / 1;
}

.forth {
  grid-column: span 4;
}

.number {
  font-style: italic;
  font-weight: 600;
}

.name-article {
  font-size: 60px;
  width: 50%;
  font-weight: 600;
  line-height: 60px;
  margin-top: 100px;
}

.subheadline-article {
  font-size: 50px;
  line-height: 50px;
  margin-top: 80px;
}

.number-article {
  display: inline;
  font-style: italic;
  font-weight: 600;
  font-size: 60px;
  line-height: 52px;
  margin-top: 100px;
}

.link-article {
  font-size: 12px;
  font-weight: 500;
  line-height: 10px;
}

.text-article {
  font-size: 25px;
  line-height: 32px;
  margin-bottom: 15px;
  margin-top: 0;
}

.quote-1 {
  text-decoration: none;
  font-size: 35px;
  line-height: 42px;
  margin: 0;
}

.img-quote {
  width: 30%;
}

.question {
  grid-column: span 3;
  font-weight: 400;
}

.date {
  font-size: 12px;
  font-weight: 500;
}

.hyperlink {
  text-align: right;
}

.undone-border {
  border: 1px solid var(--secondary-color);
}

.done-border {
  border: 1px solid var(--basic-color);
}

.grey-color {
  color: var(--secondary-color);
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100%; */
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-left {
  width: 70%;
}

figcaption {
  font-size: 20px;
  line-height: 20px;
  font-weight: 800;
  margin-top: 20px;
  width: 70%;
}

.nopicture {
  margin-top: 0;
}

.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 48%;
  left: 48%;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

.js-active-button {
  text-decoration: underline;
  font-weight: 800;
}

.js-display-none {
  display: none;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 999999;
}
